<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fhkl.de.orgapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fhkl.de.orgapp.controller.start.StartController"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fhkl.de.orgapp.controller.registration.RegisterController"
            android:label="@string/REGISTER" >
        </activity>
        <activity
            android:name="fhkl.de.orgapp.controller.login.LoginController"
            android:label="@string/LOGIN" >
        </activity>
        <activity
            android:name="fhkl.de.orgapp.controller.calendar.CalendarController"
            android:label="@string/CALENDAR" >
        </activity>
        <activity
            android:name="fhkl.de.orgapp.controller.groups.GroupsController"
            android:label="@string/GROUPS" >
        </activity>
        <activity android:name="fhkl.de.orgapp.controller.groups.SingleGroupController" >
        </activity>
        <activity
            android:name="fhkl.de.orgapp.controller.groups.ManualInviteMemberController"
            android:label="@string/INVITE_MEMBER" >
        </activity>
        <activity
            android:name="fhkl.de.orgapp.controller.groups.ListInviteMemberController"
            android:label="@string/INVITE_MEMBER" >
        </activity>
        <activity
            android:name="fhkl.de.orgapp.controller.groups.NewGroupController"
            android:label="@string/NEW_GROUP" >
        </activity>
        <activity
            android:name="fhkl.de.orgapp.controller.notification.NotificationController"
            android:label="@string/NOTIFICATIONS" >
        </activity>
        <activity
            android:name="fhkl.de.orgapp.controller.notification.NotificationSettingsController"
            android:label="@string/NOTIFICATION_SETTINGS" >
        </activity>
        <activity
            android:name="fhkl.de.orgapp.controller.profile.ProfileController"
            android:label="@string/PROFILE" >
        </activity>
        <activity
            android:name="fhkl.de.orgapp.controller.profile.PrivateInfoController"
            android:label="@string/PRIVATE_INFORMATION" >
        </activity>
        <activity
            android:name="fhkl.de.orgapp.controller.profile.SecurityInfoController"
            android:label="@string/SECURITY_INFORMATION" >
        </activity>
        <activity
            android:name="fhkl.de.orgapp.controller.profile.EventHistoryController"
            android:label="@string/EVENT_HISTORY" >
        </activity>
    </application>

</manifest>